body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;

}

a{
    color:blue;
}

img{
    width: 50%;
    height: 50%;
    align-content:rigth;
}

.paracaidas{
    position: absolute;
    top: 10px;
    left:90%;
}

.texto{
    width: 50%;
    margin-left: 25%;
    position: relative;
    top: 10px;

}

.emojis{
    width: 100%;
    height: 30px;
    position:relative;
    font-size: 30px;
    margin:5px;
}



